<!DOCTYPE html>
<html>
<head>
  <title>Article processor generator</title>
  <%= stylesheet_link_tag    "article_processor_generator/application", media: "all" %>
  <%= javascript_include_tag "article_processor_generator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
